.container {
    width: 510px;
    border-style: solid;
}

.child {
    display: flex;
    align-items: center;
    background: yellow;
    padding: 15px;
}

img {
    width: 100px;
    height: 130px;
}

p {
    display: inline;
    padding: 25px;
}