.nav {
    list-style: none;
}

.nav li {
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 80px;
    width: 80px;
}

.nav a {
    height: 80px;
    display: block;
}


#facebook {  
    background: url('sprite.png') 0 -84px;
}

#flickr{
    background: url('sprite.png') -84px -84px;
}

#dribble {
    background: url('sprite.png') -168px -84px;
}

#google_plus {
    background: url('sprite.png') -252px -84px;
}

#linkedin { 
    background: url('sprite.png') -336px -84px;
}

#pinterest { 
    background: url('sprite.png') -420px -84px;
}

#rss {
    background: url('sprite.png') -504px -84px;
}

#skype {  
    background: url('sprite.png') -588px -84px;
}

#twitter {  
    background: url('sprite.png') -672px -84px;
}

#vimeo {
    background: url('sprite.png') -756px -84px;
}

#youtube {
    background: url('sprite.png') -840px -84px;
}

#facebook a:hover {
    background: url('sprite.png') 0 0px;
}

#flickr a:hover {
    background: url('sprite.png') -84px 0px;
}

#dribble a:hover {
    background: url('sprite.png') -168px 0px;
}

#google_plus a:hover {
    background: url('sprite.png') -252px 0px;
}

#linkedin a:hover {
    background: url('sprite.png') -336px 0px;
}

#pinterest a:hover {
    background: url('sprite.png') -420px 0px;
}

#rss a:hover {
    background: url('sprite.png') -504px 0px;
}

#skype a:hover {
    background: url('sprite.png') -588px 0px;
}

#twitter a:hover {
    background: url('sprite.png') -672px 0px;
}

#vimeo a:hover {
    background: url('sprite.png') -756px 0px;
}

#youtube a:hover {
    background: url('sprite.png') -840px 0px;
}